body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(116, 188, 247);
    padding: 20px;
    text-align: center;
    margin-top: 5%;
}
.frase{
    font-family: 'Courier New', Courier, monospace;
color: aliceblue;

}

#result {
          margin-top: 35px;
          background: linear-gradient(135deg, #399dd7, #2394e5);
          padding: 25px;
          border-radius: 15px;
          width: 65%;
          margin-left: auto;
          margin-right: auto;
          box-shadow: 0 10px 25px rgba(0,0,0,0.6), inset 0 0 10px rgba(255,255,255,0.15);
          border: 3px solid #87cde3;
          animation: aparecer 0.8s ease-in-out;
          display: none;
}
        #result h2 {
            font-family: 'Courier New', Courier, monospace;
            color: #5ca8e6;
            font-weight: normal;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px #98e7ff;
           
        }

